body {
  background-color: #f0f0f0;
  font-family: 'Tahoma', sans-serif;
  color: #132639;
}

h1 {
  color: #;
}

.centered {
  text-align: center;
}

.big-text {
  font-size: 36px;
}

.body-text {
  font-size: 12px;
}
