body {
  background-color: rgb(140, 140, 140);
  font-family: 'Tahoma', sans-serif;
  color: #132639;
}

h1 {
  color: #;
}

.centered {
  text-align: center;
}

.big-text {
  font-size: 36px;
}

.body-text {
  font-size: 16px;
}

.text-box {
  border: 2px solid #f9f9f9;       /* Box border */
  background-color: #f9f9f9;    /* Light background */
  padding: 20px;                /* Space inside the box */
  width: 1000px;                 /* Box width */
  margin: 50px auto;            /* Center the box horizontally */
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1); /* Soft shadow (optional) */
}

.page-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #0077cc;   /* Background color */
  color: white;                /* Text color */
  padding: 20px;               /* Space inside */
  text-align: center;          /* Center the title */
  margin-bottom: 20px;
}
